---

{% if ansible_all_ipv6_addresses | default([]) | length > 0 %}
networks:
  net:
    driver: bridge
    enable_ipv6: true
{% endif %}

services:
  watchtower:
    image: ghcr.io/nicholas-fedor/watchtower:{{ watchtower_version }}
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    command: --disable-memory-swappiness{% if watchtower_exclude_containers | default([]) | length > 0 %} --disable-containers {% for container in watchtower_exclude_containers %}{{ container }}{% if not loop.last %},{% endif %}{% endfor %}{% endif %}
{% if ansible_all_ipv6_addresses | default([]) | length > 0 %}
    networks:
      - net
{% endif %}

    environment:
      # Build environment variables list to ensure consistent formatting
{% set env_vars = [] %}
{% if watchtower_debug | bool %}
{% set env_vars = env_vars + ['WATCHTOWER_DEBUG=true'] %}
{% endif %}
{% if watchtower_cleanup | bool %}
{% set env_vars = env_vars + ['WATCHTOWER_CLEANUP=true'] %}
{% endif %}
{% if watchtower_include_stopped | bool %}
{% set env_vars = env_vars + ['WATCHTOWER_INCLUDE_STOPPED=true'] %}
{% endif %}
{% if watchtower_rolling_restart | bool %}
{% set env_vars = env_vars + ['WATCHTOWER_ROLLING_RESTART=true'] %}
{% endif %}
{% if watchtower_schedule %}
{% set env_vars = env_vars + ['WATCHTOWER_SCHEDULE=' + watchtower_schedule] %}
{% endif %}
{% if watchtower_poll_interval %}
{% set env_vars = env_vars + ['WATCHTOWER_POLL_INTERVAL=' + watchtower_poll_interval] %}
{% endif %}
{% if watchtower_notifications_enabled | bool and watchtower_pushover_app_token and watchtower_pushover_user_key %}
{% set env_vars = env_vars + ['WATCHTOWER_NOTIFICATIONS=shoutrrr', 'WATCHTOWER_NOTIFICATION_URL=pushover://shoutrrr:' + watchtower_pushover_app_token + '@' + watchtower_pushover_user_key, 'WATCHTOWER_NOTIFICATIONS_HOSTNAME=' + ansible_hostname] %}
{% endif %}
{% for var in env_vars %}
      - {{ var }}
{% endfor %}
