---
# Base Package Management Tasks

- name: Install base packages
  ansible.builtin.apt:
    name:
      - vim
      - python3
      - pip
      - net-tools
      - git
      - podman
      - podman-docker
      - htop
      - dos2unix
      - tmux
      - pipx # For isolated Python package installation
      - curl # Needed for docker-compose installation
    state: present
    update_cache: true
    cache_valid_time: 3600
  register: base_package_install
  until: base_package_install is success
  retries: 3
  delay: 5
  ignore_errors: "{{ ansible_facts['check_mode'] }}"

- name: Remove docker-compose package from apt
  ansible.builtin.apt:
    name: docker-compose
    state: absent

- name: Get latest docker-compose release version
  ansible.builtin.uri:
    url: https://api.github.com/repos/docker/compose/releases/latest
    return_content: true
  register: compose_latest_release
  until: compose_latest_release is success
  retries: 3
  delay: 5
  when: install_docker_compose | default(true) | bool

- name: Set docker-compose version fact
  ansible.builtin.set_fact:
    docker_compose_version: "{{ compose_latest_release.json.tag_name }}"
  when: install_docker_compose | default(true) | bool and compose_latest_release is defined

- name: Install latest docker-compose
  ansible.builtin.get_url:
    url: "https://github.com/docker/compose/releases/download/{{ docker_compose_version }}/docker-compose-{{ ansible_facts['system'] }}-{{ ansible_facts['architecture'] }}"
    dest: /usr/local/bin/docker-compose
    mode: "0755"
    force: true
  register: docker_compose_download
  until: docker_compose_download is success
  retries: 3
  delay: 5
  when: install_docker_compose | default(true) | bool and docker_compose_version is defined
