
.terraform
.terraform*
.env

*ed25519*

.DS_Store

.local

*.log

.ansible
.cache
.git-crypt-key
.pkgx
megalinter-reports/
certs/
*.tmp

# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
.beads/proxieddb/
